<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hotels Team 28</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>uts.wsd.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
   com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  </listener-class>
  </listener>
  <servlet>
    <servlet-name>SOAP Web Services</servlet-name>
    <servlet-class>
   com.sun.xml.ws.transport.http.servlet.WSServlet
  </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SOAP Web Services</servlet-name>
    <url-pattern>/soap/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Hotels</display-name>
    <servlet-name>Hotels Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.HotelsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hotels Servlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Hotel Detail</display-name>
    <servlet-name>Hotel Detail Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.HotelDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hotel Detail Servlet</servlet-name>
    <url-pattern>/hotel.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Review Detail</display-name>
    <servlet-name>Review Detail Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.ReviewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Review Detail Servlet</servlet-name>
    <url-pattern>/review.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Login Action</display-name>
    <servlet-name>Login Action Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.LoginActServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login Action Servlet</servlet-name>
    <url-pattern>/loginAct.jsp</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>Login Form</display-name>
    <servlet-name>Login Form Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.LoginFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login Form Servlet</servlet-name>
    <url-pattern>/login.jsp</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout Servlet</servlet-name>
    <url-pattern>/logout.jsp</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>Post Action</display-name>
    <servlet-name>Post Action Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.PostActServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post Action Servlet</servlet-name>
    <url-pattern>/postAct.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>My Reviews</display-name>
    <servlet-name>My Reviews Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.MyReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My Reviews Servlet</servlet-name>
    <url-pattern>/myReviews.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Error Message</display-name>
    <servlet-name>Error Message Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.ErrorMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error Message Servlet</servlet-name>
    <url-pattern>/error.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Delete Review Action</display-name>
    <servlet-name>Delete Review Action Servlet</servlet-name>
    <servlet-class>uts.wsd.servlet.DeleteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete Review Action Servlet</servlet-name>
    <url-pattern>/deleteAct.jsp</url-pattern>
  </servlet-mapping>
  
</web-app>